<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Age Guesser</title>
</head>
<style>
    .page{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #c3a3f1, #6414e9);
    }
    .box{
        width: 90%;
        max-width: 34.37em;
        max-height: 90vh;
        background-color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        padding: 3em;
        border-radius: 1em;
        box-shadow: 0 4em 5em rgba(27,8,53,0.2);
        text-align: center;
    }
    .rest{
        text-align: left;
    }
</style>
<body>
    <div class = "page">
        <div class = "box">
            <h1> Age Predictor</h1>
            Welcome To The Best Age Predictor In CMSC335 History
            
            <img src="https://pm1.aminoapps.com/6283/3ee4091344a813c04076096ad348dc6c0d4054f7_hq.jpg">
            <div class = "rest">
                <ul> 
                    <li> To check current age select
                         <a href="/tryPredict">Predict my age now</a>
                    </li> 
                    <li> See all the ages in the system for your session here :P
                         <a href="/ageDisplay">Age List</a>
                    </li>
                 </ul>
            </div>
        </div>
    </div>

</body>

</html>